body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #d7dcdd;
  width: 500px;
  margin: auto;
  background-image: url("pic1.jpg");
}
#header li {
  display: inline;
  padding: 10px;
}
form {
  background: rgba(101, 100, 102, 0.788);
  padding: 2.5rem 2.5rem;
  border-radius: 2rem;
  width: 500px;
  margin: auto;
}

.form-inputs {
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#dropdown {
  display: block;
  width: 95.5%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-headings {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
span {
  font-size: 80%;
}
.submit-button {
  width: 95%;
  padding: 0.75rem;
  background: rgb(3, 43, 22);
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

#textarea {
  width: 93%;
}

@media only screen and (max-width: 800px) {
  form {
    width: 65%;
    height: auto;
  }
}
